.step-container {
  background-color: rgba(0,23,3,0.1);
  border-radius: 3em;
  padding: 2em 2em 0 2em;
  text-align: center;
  min-height: 50vh;
  width: 50%;
  margin: auto;
}
.step-footer{
  margin-top: 2em;
  padding-bottom: 1em;
}
.step-button{
  padding: 1em;
  margin: 1em;
}
.step-title{
  text-transform: uppercase;
  font-weight: 100;
}
.step-number-container{
  display: flex;
  background-color: lightgrey;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  align-items: center;
}
.step-number{
  font-size: 1.5em;
  margin: auto;
}
.step-response-msg{
  font-weight: 100;
}
.breadcrumb {
  width: 50%;
  margin: auto;
  margin-bottom: 2em;
}
.step-disabled {
  background-color: rgba(0,0,0,0.3);
  /*color: white;
  padding: 1em;
  margin: 1em;*/
}
/*.step-button {
  box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.step-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.22);
}*/
